[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gemini-api = "*"
pypdf2 = "*"
google-cloud-aiplatform = "*"
google-auth = "*"

pytest = "*"  # Testing framework for writing and running tests
pytest-cov = "*"  # Plugin for pytest to measure test coverage
numpy = "*"  # Numerical computing library

[dev-packages]

[requires]
python_version = "3.12"
